extends ../layout

block content
  h1= title
  
  table.table.table-hover
    tr
      th Brand
      th Model
      th Price
      th State
      th Type
      th Listing Link
      th 
    each listing in listings
      tr
        td #{listing.watch.brand}
        td #{listing.watch.model_name}
        td #{listing.price}
        td #{listing.type}
        td #{listing.state}
        td 
          a(href='http://#{listing.url}' target='_blank') Go To
        td 
          a(href='listings/edit/#{listing.id}') Edit
    
  a.btn.btn-default(type='button' href='listings/new') New Listing
