extends ../layout

block content
  h1= 'Welcome back ' + user.username
  
  table.table.table-hover
    thead
      tr
        th
        th Brand
        th Model
        th Price
        th State
        th Type
        th Site
        th Listing Link
        th
    tbody
      each listing in listings
        tr
          td 
            img.thumbnail(src="#{listing.img}" width="120px") 
          td #{listing.watch.brand}
          td #{listing.watch.model_name}
          td #{listing.price}
          td #{listing.state}
          td #{listing.type}
          td #{(listing._site ? listing._site.name : '')}
          td 
            a(href='http://#{listing.url}' target='_blank') Go To
          td 
            a(href='listings/edit/#{listing.id}') Edit
    
  a.btn.btn-default(type='button' href='listings/new') New Listing
