extends ../layout

block content
  h1= title
  p Welcome to #{title}
  
  table.table
    tr
      th Brand
      th Model
      th Price
      th State
      th Auction
      th 
    tbody.table-hover
      each watch in watches
        tr
          td #{watch.brand}
          td #{watch.model_name}
          td #{watch.price}
          td #{watch.state}
          td #{watch.auction ? 'Yes' : 'No'}
          td 
            a(href='watches/edit/#{watch.id}') Edit

  a.btn.btn-lg.btn-default(type='button' href='watches/new') New
